.app {
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
  position: relative;

  --header-height: 5rem;
  --footer-height: 5rem;
  --max-width: 1200px;
  --padding-x: 1rem;
}

.app__header {
  padding: 1rem;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-surface);
  box-shadow: var(--color-shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
}

.app__header-inner {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding-x);
  width: 100%;
}

.app__main {
  padding: 6rem var(--padding-x);
  max-width: var(--max-width);
  margin: 0 auto;
  height: calc(100% - var(--header-height) - var(--footer-height));
}

.app__footer {
  padding: 1rem;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-surface);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
}
